<%= form_for rsvp, url: rsvp_path, authenticity_token: true do |f| %>
  <div class="txt_input">
    <%= f.text_field :code, class: 'form-control', placeholder: 'Guest code',
                            value: (params[:code] if params[:code].present?) %>
    <%= form_error(rsvp, :code) %>
  </div>
  <div class="txt_input">
    <%= f.text_field :num, class: 'form-control', placeholder: 'Số người tham dự' %>
    <%= form_error(rsvp, :num) %>
  </div>
  <%= submit_tag 'Xác nhận', class: 'btn btn-lg submit_block_1' %>
<% end %>

<!-- Form Additional text -->
<p>hirohieunguyen@gmail.com - 0933369697</p>
